
.card {
  width: 100%;
  min-width: 480px;
  cursor: pointer;
  background-color: #262626;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(125,147,178,.25);
  transition: all .3s;
  padding: 20px;
  margin-top: 32px;
}

.card:hover {
  box-shadow: 0 20px 30px rgba(125,147,178,.15);
}